<!doctype html>
<html lang="en" data-ng-app="launchApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Launch it on OpenShift</title>

  <link href='css/bundle.css' rel='stylesheet' type='text/css' />
  <script src="js/bundle.js"></script>
</head>
<body data-ng-controller="launchController">

<section class='container'>
  <hgroup><header>
    <h1>Launch Service</h1>
  </header></hgroup>

  <div class="row">
  <div class='launchInputs col-xs-12 col-sm-6 col-md-6'>
    <h2>Create a Launcher</h2>
    <form name='launchForm' class='form-horizontal' novalidate>
      <div class="form-group">
        <label class='control-label' for='name'>Service Name:</label><br/>
        <input class="form-control" name='name' id='name' style='width:90%;' data-ng-model='launcher.name' type='text' placeholder={{defaults.name}} />
      </div>
      <br />
      <div class="form-group">
        <label class='control-label' for='initial_git_url'>Source URL:</label><br/>
        <input class="form-control" name='initial_git_url' id='initial_git_url' style='width:90%;' data-ng-model='launcher.initial_git_url' type='text' placeholder={{defaults.initial_git_url}} />
      </div>
      <br />
      <div class="form-group">
        <label class='control-label' for='cartridges'>Cartridge Runtime(s):</label><br/>
        <input class="form-control" name='cartridges' id='cartridges' style='width:90%;' data-ng-model='launcher.cartridges' type='text' placeholder={{defaults.cartridges}} />
      </div>
      <div class='form-group metrics_controls' data-ng-show="launcher.metrics_controls">
        <h2>Metrics Collection</h2>
        <input data-ng-model='launcher.metrics' id='metricscheckboxinput' type='checkbox' required />
        <label for='metricscheckboxinput'>Enable</label>
        <span style='padding-left:70px;' data-ng-show="launcher.metrics">Launch Counter: {{launcher.counter}}</span>
      </div>
    </form>
  </div>
  <div class='launchPreview col-xs-12 col-sm-6 col-md-6'>
    <h2>Configure</h2>
    <form name='configForm' class='form-horizontal' novalidate>
      <div class="form-group">
        <label for='typeinput'>Launcher Style:</label><br/>
        <select data-ng-model="launcher.style" name='style'>
          <option value='launch'>OpenShift Button (dark)</option>
          <option value='launch/light'>OpenShift Button (light)</option>
        </select>
      </div>
      <div class="form-group">
        <br/>
        <label for='buttontextinput'>Button Text:</label><br/>
        <input name='text' id='buttontextinput' style='width:110px;' data-ng-model='launcher.text' type='text' placeholder={{defaults.text}} required /><span> <b>OPEN</b>SHIFT</span>
      </div>
    </form>

    <h2>Preview</h2>
    <p>Try launching your app or service:</p>
    <div class='preview'>
      <a ng-click="launcher.counter = launcher.counter + 1" href="{{getLaunchUrl()}}"><img alt="{{getAltText()}}" data-ng-src="{{getImage()}}"/></a>
    </div>
  </div>
  </div>
  <h2>Embed Code</h2>
  <div class="row">
    <div class='launchOutputs col-xs-12 col-sm-6 col-md-6'>
      <h3>Markdown:</h3>
      <pre data-ng-bind="getMarkdown()"></pre>
    </div>
    <div class='launchOutputs col-xs-12 col-sm-6 col-md-6'>
      <h3>HTML:</h3>
      <pre data-ng-bind="getHtml()"></pre>
    </div>
  </div>
  <footer>
    <div class="logo"><a href="https://www.openshift.com/"></a></div>
  </footer>
</section>
<span id="fossribbon">
  <a href="https://github.com/ryanj/launch-service">Fork me on GitHub</a>
</span>
</body>
{{GA-TRACKER}}
</html>
