<!doctype html>
<html lang="en" data-ng-app="launchApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Launch it on OpenShift</title>

  <link href='css/bundle.css' rel='stylesheet' type='text/css' />
  <script src="js/bundle.js"></script>
</head>
<body data-ng-controller="launchController">

<section class='container'>
  <hgroup><header>
    <h1>Launch Service</h1>
  </header></hgroup>

  <div class="row">
  <div class='launchInputs col-xs-12 col-sm-6 col-md-6'>
    <h2>Create a Launcher</h2>
    <form name='launchForm' class='form-horizontal' novalidate>
      <div class="form-group">
        <label class='control-label' for='launchurlinput'>Launch URL:</label><br/>
        <input name='url' id='launchurlinput' style='width:90%;' data-ng-change='onUrlChange()' data-ng-model='launcher.url' type='text' placeholder={{defaults.url}} value="{{defaults.url}}" />
      </div>
      <br/>
      <div class="form-group">
        <label for='buttontextinput'>Button text:</label><br/>
        <input name='text' id='buttontextinput' style='width:60%;' data-ng-change='onTextChange()' data-ng-model='launcher.text' type='text' value="{{defaults.text}}" placeholder={{defaults.text}} required /><span> <b>OPEN</b>SHIFT</span>
      </div>
      <div class='form-group metrics_controls' data-ng-show="launcher.metrics_controls">
        <br/>
        <input data-ng-change='onUrlChange()' data-ng-model='launcher.metrics' id='metricscheckboxinput' type='checkbox' required />
        <label for='metricscheckboxinput'>Enable metrics collection</label>
      </div>
    </form>
  </div>
  <div class='launchPreview col-xs-12 col-sm-6 col-md-6'>
    <h2>Button Preview</h2>
    <p>Try launching your app or service:</p>
    <p class='preview'>
      <a ng-click="launcher.counter = launcher.counter + 1" href="{{getUrl()}}"><img alt="{{getAltText()}}" data-ng-src="{{getImage()}}"/></a>
    </p>
    <div data-ng-show="launcher.metrics">Launch Counter: {{launcher.counter}}</div>
  </div>
  </div>
  <div class="row">
    <div class='launchOutputs col-xs-12 col-sm-6 col-md-6'>
      <h2>Embed Code</h2>
      <h3>Markdown:</h3>
      <pre data-ng-bind="getMarkdown()"></pre>
    </div>
    <div class='launchOutputs col-xs-12 col-sm-6 col-md-6'>
      <h2>&nbsp;</h2>
      <h3>HTML:</h3>
      <pre data-ng-bind="getHtml()"></pre>
    </div>
  </div>
  <footer>
    <div class="logo"><a href="https://www.openshift.com/"></a></div>
  </footer>
</section>
<span id="fossribbon">
  <a href="https://github.com/ryanj/launch-service">Fork me on GitHub</a>
</span>
</body>
{{GA-TRACKER}}
</html>
